@model HybridCMS.Models.BlogViewModel
@{
    ViewBag.Title = "Update Blog";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<!-- Update Blog Start -->
<div class="container-xxl py-6" style="padding-bottom:0 !important;">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5" style="max-width: 500px;">
        </div>
        <div class="row g-6 justify-content-center">
            <div class="col-lg-12 col-md-12">
                @using (Html.BeginForm("Update", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.AssetId)
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.Picture)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            @Html.EditorFor(model => model.BlogTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "Blog Title" } })
                            @Html.ValidationMessageFor(model => model.BlogTitle, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">@@</span>
                                </div>
                                @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control", placeholder = "URL" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.initialURL)
                        </div>
                    </div>
                    <div class="form-floating mb-2">
                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Description" } })
                    </div>
                    <div class="form-check mb-3 float-end">
                        @Html.ActionLink("Cancel", "AdminDashboard", "CMS", new { }, new { @class = "btn btn-outline-secondary border-2 py-2 px-4 rounded-pill fw-bold " }) &nbsp;
                        <button type="submit" class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill fw-bold">Update</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Update Blog End -->
@section scripts{
    <script src="~/lib/CLEditor1_4_5/jquery.cleditor.min.js"></script>
    <script src="~/Scripts/BlogScript.js"></script>
    <script>
        $.cleditor.defaultOptions.height = 370;
        $("#Description").cleditor();
    </script>
}


