@model IEnumerable<HybridCMSEntities.AssetEntity>

<style>
    select.form-select {
        display: inline;
        width: 200px;
        margin-left: 25px;
    }
</style>
<hr />
<div class="container">
    <div class="category-filter">
        <select id="categoryFilter" class="form-select">
            <option value="">Show All</option>
            <option value="Page">Page</option>
            <option value="Blog">Blog</option>
        </select>
    </div>
    <table class="table" id="filterTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AssetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssetUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssetTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPost)
                </th>
                <th class="text-center">Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @Html.HiddenFor(model => item.AssetId)
                @Html.HiddenFor(model => item.UserId)
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetUrl)
                    </td>
                    <td>
                        @if (item.AssetTypeId.Equals(HybridCMSEntities.AssetType.Page))
                        {
                            <span style="color:darkblue;"><b>@Html.DisplayFor(modelItem => item.AssetTypeId)</b></span>
                        }
                        else
                        {
                            <span style="color:crimson;"><b>@Html.DisplayFor(modelItem => item.AssetTypeId)</b></span>
                        }
                    </td>
                    <td>
                        @if (item.TotalPost > 0)
                        {
                            @Html.DisplayFor(modelItem => item.TotalPost)
                        }
                    </td>
                    <td align="center" colspan="2">
                        @Html.ActionLink(" ", "UpdateAsset", "Asset", new { AssetId = Convert.ToString(item.AssetId) }, new { @class = "btn btn-outline-primary rounded-pill bi bi-pencil-square" }) &nbsp;
                        <button onclick="fnRedirect('@item.AssetUrl')" class="btn btn-outline-info rounded-pill bi bi-eye-fill"></button> &nbsp;
                        @Html.ActionLink(" ", "DeleteAsset", "Asset", new { AssetId = Convert.ToString(item.AssetId) }, new { onclick = "return confirm('Are you sure you want to delete?');", @class = "btn btn-outline-secondary rounded-pill bi bi-trash-fill" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
