@model IEnumerable<HybridCMSEntities.AssetEntity>

<link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />

<style>
    select.form-select {
        display: inline;
        width: 200px;
        margin-left: 25px;
    }
</style>

<div class="container bg-light p-4" style="border-radius:10px;">
    <div class="category-filter">
        <select id="categoryFilter" class="form-select">
            <option value="">Show All</option>
            <option value="Page">Page</option>
            <option value="Blog">Blog</option>
        </select>
    </div>
    <table class="display compact" id="filterTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AssetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssetTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublishedDateInString)
                </th>
                <th class="text-center">Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @Html.HiddenFor(model => item.AssetId)
                @Html.HiddenFor(model => item.UserId)
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDateInString)
                    </td>
                    <td>
                        @if (item.AssetTypeId.Equals(HybridCMSEntities.AssetType.Page))
                        {
                            <span style="color: #F65005;"><b>@Html.DisplayFor(modelItem => item.AssetTypeId)</b></span>
                        }
                        else
                        {
                            <span style="color: #3CB815;"><b>@Html.DisplayFor(modelItem => item.AssetTypeId)</b></span>
                        }
                    </td>
                    <td>
                        @if (item.TotalPost > 0 && item.AssetTypeId.Equals(HybridCMSEntities.AssetType.Page))
                        {
                            @Html.DisplayFor(modelItem => item.TotalPost)
                        }
                    </td>
                    <td>
                        @if (item.IsPublished)
                        {
                            @Html.DisplayFor(modelItem => item.PublishedDateInString)
                        }
                    </td>
                    <td align="center" colspan="3">
                        @Html.CheckBoxFor(modelItem => item.IsPublished, new { @class= "cbIsPublished", @onclick = string.Format("fnPublishAssets('{0}','{1}',this)", item.AssetId,item.IsPublished) })
                        @Html.ActionLink(" ", "UpdateAsset", "Asset", new { AssetId = Convert.ToString(item.AssetId) }, new { @class = "btn btn-outline-primary rounded-pill bi bi-pencil-square", @target = "_blank" }) &nbsp;
                        <button onclick="fnRedirect('@item.AssetUrl')" class="btn btn-outline-info rounded-pill bi bi-eye-fill"></button> &nbsp;
                        @Html.ActionLink(" ", "DeleteAsset", "Asset", new { AssetId = Convert.ToString(item.AssetId) }, new { onclick = "return confirm('Are you sure you want to delete?');", @class = "btn btn-outline-secondary rounded-pill bi bi-trash-fill" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
