@model IEnumerable<HybridCMSEntities.PostMap>

<!-- Testimonial Start -->
<div class="container-fluid bg-light bg-icon">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Latest Post</h1>
            @*<p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>*@
        </div>
        <div class="owl-carousel testimonial-carousel">
            @foreach (var item in Model)
            {
                <div class="testimonial-item position-relative bg-white p-5 mt-4 btn" onclick="fnRedirectLatest('@item.URL','@item.PostId')">
                    <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
                    <p class="mb-4">@item.PostHeading</p>
                    <div class="d-flex align-items-center">
                        <img class="flex-shrink-0 rounded-circle" src="~/img/5.png" alt="">
                        <div class="ms-3">
                            <h5 class="mb-1">@item.AuthorName</h5>
                            <span>@item.AssetName</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Testimonial End -->
<script>
    function fnRedirectLatest(u, pid) {
        var full = u + "/" + pid;
        window.location.pathname = encodeURI("@@" + full);
    }
</script>