@model HybridCMSEntities.LoginEntity

<a href="@Url.Action("Index", "Home")" id="liHome" class="nav-item nav-link">Home</a>
<div class="nav-item dropdown">
    @if (Model.RoleId == 2)
    {
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="liCreate">
            <i class="fa fa-plus"></i>
            Create
        </a>
        <div class="dropdown-menu m-0">
            <a href="@Url.Action("Create", "Blog")" class="dropdown-item" id="liCreateBlog">Create Blog</a>
            <a href="@Url.Action("Create", "Page")" class="dropdown-item" id="liCreatePage">Create Page</a>
        </div>
    }
</div>
<a href="@Url.Action("ContactUs", "Home")" id="liContact" class="nav-item nav-link">Contact Us</a>
<div class="nav-item dropdown">
    @if (!string.IsNullOrEmpty(Model.Name))
    {
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="liUserProfile">
            <small class="fa fa-user text-body"></small>
            @Model.Name
        </a>
        <div class="dropdown-menu m-0">
            @if (Model.RoleId == 2)
            {
                <a href="@Url.Action("AdminDashboard", "CMS")" class="dropdown-item" id="liAdminDashboard">Admin Dashboard</a>
            }
            <a href="@Url.Action("ChangePassword", "CMS")" class="dropdown-item" id="liChangePassword">Change Password</a>
            <a href="@Url.Action("Logout", "CMS")" class="dropdown-item">Logout &nbsp;<strong class="bi bi-box-arrow-right"></strong> </a>
        </div>
    }
</div>
@if (Model.Id <= 0)
{
    <a href="@Url.Action("Login", "CMS")" class="nav-item nav-link">Sign In&nbsp;<strong class="bi bi-box-arrow-in-left"></strong></a>
}
