@model HybridCMS.Models.PageViewModel
@{
    ViewBag.Title = "Update Page";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<!-- Update Page Start -->
<div class="container-xxl py-6" style="padding-bottom:0 !important;">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5" style="max-width: 500px;">
        </div>
        <div class="row g-6 justify-content-center">
            <div class="col-lg-12 col-md-12">
                @using (Html.BeginForm("Update", "Page", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.AssetId)
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.Picture)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="col-md-12 mb-2">
                                @Html.EditorFor(model => model.PageTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "Page Title" } })
                                @Html.ValidationMessageFor(model => model.PageTitle, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">@@</span>
                                    </div>
                                    @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control", placeholder = "URL" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.initialURL)
                            </div>
                            <div class="col-md-12 form-floating mb-2">
                                @Html.TextAreaFor(model => model.Description, new { @cols = "", @rows = "", @class = "form-control", @placeholder = "Description (Maximum 500 characters).", @maxlength = "500", @style = "height: 150px; max-height: 300px;" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-3">
                            <div class="col-md-12 mb-3">
                                <img src="~/Upload/@((!string.IsNullOrEmpty(Model.Picture)) ? Model.Picture : "NoImage.png")"
                                     id="imagePreview" alt="" class="img-thumbnail">
                            </div>
                            <div class="col-md-12 mb-3">
                                <input type="file" id="Image" name="Image" onchange="return fileValidation('@Model.Picture')" />
                            </div>
                            <div class="col-lg-6 col-md-12">
                                @Html.ActionLink("Cancel", "AdminDashboard", "CMS", new { }, new { @class = "btn btn-outline-secondary border-2 py-2 px-4 rounded-pill fw-bold " }) &nbsp;
                                <button type="submit" class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill fw-bold">Update</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Update Page End -->
@section scripts{
    <script src="~/Scripts/PageScript.js"></script>
    <script src="~/Scripts/fileValidationScriptWithParameter.js"></script>
}
