@model HybridCMS.Models.ForgetPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_CMSLoginLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card shadow my-5" style="border-radius:8px;">
                <div class="card-body p-4 p-sm-5">
                    <h1 class="card-title text-center fw-bold text-primary m-0">Hybrid<span class="text-secondary">CMS</span></h1>
                    @if (@TempData["LinkExpired"] != null)
                    {
                        <h1 class="card-title text-center mt-4 mb-4 fw-light fs-5 text-secondary">Email verification link expired</h1>
                        <h5 class="card-title text-center mb-4 fw-light fs-5">
                            Looks like the verification link has expired. Not to worry, we can send the link again.
                        </h5>
                    }
                    else
                    {
                        <h1 class="card-title text-center mt-4 mb-4 fw-light fs-5">Forgot Your Password?</h1>
                        <h5 class="card-title text-center mb-4 fw-light fs-5">That`s okay, it happens! Please enter your email or username. You will receive a link to create a new password via email.</h5>
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.EmailorUsername, new { htmlAttributes = new { @class = "form-control", placeholder = "Email or Username" } })
                            @Html.LabelFor(model => model.EmailorUsername)
                            @Html.ValidationMessageFor(model => model.EmailorUsername, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-floating mb-3">
                            @if (@ViewBag.AlertMsg != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @ViewBag.AlertMsg
                                </div>
                            }
                        </div>
                        <div class="form-check mb-3">
                            <input type="submit" value="@(@TempData["LinkExpired"] != null ? "Resend verification link":"Reset")" class="btn btn-primary btn-login text-uppercase fw-bold float-end" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var c = document.getElementById('EmailorUsername');
        c.addEventListener('input', function (e) {
            var keyCode = e.keyCode ? e.keyCode : e.which;
            this.value = this.value.replace(/\s/g, '')
            if (keyCode === 32) return;
        })
    </script>
}

